<ion-header > 
  
 
    <ion-row>
       
    <ion-col class="color2">
           <ion-title>    </ion-title> 
         
    </ion-col>

    <ion-col class="color">

       

    </ion-col>
    
    </ion-row>


</ion-header>

<ion-content padding class="background" >
  <div >
    
  </div>

<ion-row>
  <div id="bloque">
  <ion-buttons  >
    <div id="Df">
     
        <ion-img  src="/assets/iteria.png" ></ion-img>
      
    </div>  
  </ion-buttons>
</div>
</ion-row>

   <form #form="ngForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          
          <div padding   >
            <ion-item >
              <ion-input  type="email"  name="email" placeholder="your@email.com"  id="email" [(ngModel)]="email" required minlength=5 ></ion-input>
            </ion-item>
            <ion-label></ion-label>
            <ion-item  > 
              <ion-input  type="password"  name="password"  placeholder="Password" id="password"  [(ngModel)]="password" required minlength=5  (mouseleave)="Llamada()" ></ion-input>
            </ion-item>    


          </div>
          <div padding >
            <ion-button  size="large" type="submit" [disabled]="form.invalid" (click)="Login()"   expand="block">Login</ion-button>
          </div>

          
        </ion-col>
      </ion-row>
    </ion-grid>
      <div class="centrado">
      <ion-spinner  name="circles" color="tertiary"  *ngIf="show"></ion-spinner>
      </div>
    </form>

</ion-content>

<ion-footer>
 
    <ion-row>
      <ion-col class="color2">
      </ion-col>
      <ion-col class="color">
     </ion-col>
     </ion-row>
  
</ion-footer>