/* ion-item{
    --background: #49ff38;
    --color: #fff;
} */
ion-button{
    --background: #1158d1;
}
.centrado{
    text-align: center;
}.centrado{
    text-align: center;
}
.color{
  background-color: rgb(255,104,1) ;
}

.top-21{
    background-color: yellow;
    position:relative;
    left: 0;
    right: 0;
    margin:0 auto;
    top:30%;
    transform:translateY(-50%);

}
.DF{
    max-width: 125px;
    height: 125px;
    padding: .5em;
    height: 12vh;
    filter: drop-shadow(3px 4px 4px #444);
}
.color2{
    background-color: rgb(0,41,124);
  }
.buttonn{
    padding: 100px 20px;
    width: 800px;
}

/* ion-content{
    //background-color:color($colors,primary);
    // background-image:url('…/assets/imagen.jpeg');
    background-size:100% auto;
    } */



#bloque{
    margin-left: auto;
    margin-right: auto;
    /* width: 100px; 
    height: 100px; */
}

.background{
    --background: url(src\assets\img\Imagen.png);
}


