<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actividades
    </ion-title>

    <ion-buttons slot="end">
      <!-- <ion-avatar>
        <img >
      </ion-avatar> -->
     <!--  <ion-item color="primary" (click)="Show_checkk()" >
        finalizar
          <ion-icon name="checkbox" > Finalizar</ion-icon>
      </ion-item> -->
      <!-- <ion-icon name="checkmark-circle"> Finalizar</ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
  <link href="list.page.scss">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js">
</ion-header>


    <ion-content class="backgound-image" >

   
      <ion-refresher slot="fixed" 
                     (ionRefresh)="doRefresh($event)"
                     pullingIcon="arrow-dropdown">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>   
      
      
      <ion-list detail color="">

        <ion-item id="button" *ngFor='let a of ordenar' detail class="jk-ll" 
          (click)="Excuse_me(a.id,a.name, a.description, a.estado,a.proyecto, a.cliente, a.avance,a.created_at)" >
          <ion-label>
            <h2>{{a.name}}</h2>
            <p>{{a.created_at}}</p>
            <div *ngIf="sebas">
            <p>{{a.estado}} </p>
            </div>
          </ion-label><br>  
        <!-- <ion-checkbox  *ngIf="shaw" color="primary" [(ngModel)]="a.selected "  (click)="onClickk( a,a.selected )"  ></ion-checkbox> -->
        </ion-item>

      </ion-list>

      
      <div>
        <ion-button (click)="logout()">  Eliminar Storage  </ion-button>
      </div>
      
     <!--  <div>
          <ion-button (click)="Actualizar()"> Actualizar estado  </ion-button>
      </div> -->
      



    </ion-content>
    <div class="centrado">
        <ion-spinner  name="circles" color="tertiary"  *ngIf="show"></ion-spinner>
    </div>
    <ion-footer>

        

        <ion-row>
          <ion-col class="color2">
          </ion-col>
          <ion-col class="color">
         </ion-col>
         </ion-row>
    </ion-footer>
    