ion-item{
    cursor: pointer;
}


ion-card{
    border: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-style: none !important;
    position: relative;
    text-align: center;
        // border-top: 3px solid colorofyourchosin
}
.card{
        border: 0 !important;
        box-shadow: 0 !important;
        border: none !important;
        border-style: none !important;
}


#bloque{
    margin-left: auto;
    margin-right: auto;
    width: 200px; 
    height: 200px; 
}
.color{
    background-color: rgb(255,104,1) ;
  }
  .color2{
    background-color:  rgb(0,41,124);
  }
/* ion-content.background{
    // --background: url(../../assets/iteria2.jpg);
    // --background: url(../../assets/iteria.png);
    // background: repeat;
    // background :no-repeat;
    
} */
.backgound-image {
    --background: url('../../assets/iteria.png');
    width: 100%;
    // --background-size: cover;
    // --background-position: center center;
    --background: repeat;
  }
  .jk-ll{
    // background: transparent !important;
    background-color: rgb(21, 255, 0);
  }
  .centrado{
    text-align: center;
} 


