<ion-footer>
  <!-- <ion-toolbar> -->
  <ion-row>
    <ion-col class="color2">
    </ion-col>
    <ion-col class="color">
    </ion-col>
  </ion-row>
  <!-- </ion-toolbar>  -->
</ion-footer>

<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Detalle</ion-title>

    <ion-buttons slot="end">
      <ion-buttons>
        <ion-button (click)="mostrarPop( $event )">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label> estado </ion-label>
        </ion-button>
      </ion-buttons>
     
    </ion-buttons>

  </ion-toolbar>
  <link href="actividades.page.scss">
</ion-header>

<ion-content padding class="background" >

  <ion-icon   name="checkmark"    *ngIf="sebas" ></ion-icon>


     <h3>{{created_at}}</h3>


     <h1 align="center" >{{proyecto}} </h1>
      
      <br>

      <h2>{{name}}  -- {{ cliente }} </h2>


      



      <br>

      <h3  >{{description}}</h3>


      <br>

      <h3  >{{ creacionUltima }}</h3>
      
      <ion-row>
        <div id="bloque">
        <ion-buttons  >
          <div class="Df">
            
              <ion-img  src="/assets/iteria.png" class="DF" ></ion-img>
            
          </div>  
        </ion-buttons>
      </div>
      </ion-row>


      


    <h1  class="Color-background"  ></h1>

  

</ion-content>

