/* .form-header{
    width: 80px; height: 80px;
} */

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  twitter: (
    base: #55acee,
    contrast: #ffffff
  )
);
.color {
  background-color: rgb(255, 104, 1);
}

.color2 {
  background-color: rgb(0, 41, 124);
}

.background {
  // --background: url(src\assets\img\iteria-fondo.jpeg);
  --background: url(src\assets\img\imagen.png) center center fixed;
  // --background-repeat: repeat, no-repeat;
  // background-size: 10ppx 10px;
  
  /*   background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  position:absolute;
 height: 10000%; */
}
#bloque{
  margin-left: auto;
  // margin-right: auto;
  width: 60%; 
  height: 60%;
  margin-top: 20px;
}
/* .DF{
  width: 210px; height: 210px;
} */