<ion-list>
   <ion-item *ngFor="let item of Opcionnes"  detail class="jk-ll" (click)="onClick(item.name)" >
     <ion-icon slot="start" [name]="item.icon"></ion-icon>
     <ion-label>{{ item.name }}</ion-label>
   </ion-item>
   <ion-label>{{name}}</ion-label>
</ion-list>