/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.rojo span, .rojo .sc-ion-action-sheet-md {
    color: red !important;

}


.iteri {
    color: white;
  }

  .uno{
      margin: 0%;
      padding:0%;
      
      font-family: sans-serif;
      color:#1654C7;
      text-decoration: none;

    //   width:"";
    //    display:block;
    //    background:linear-gradient(50deg,#1654C7,white);
    //    padding: 20px 40px;
    //    text-align: center;
    //    margin: auto;
       
    //    font-size: 18px;
    //    text-transform: uppercase;
    //    letter-spacing: 2px;
    //    letter-spacing: 2px;
    //    border-radius:5px;
    //    transition: all 300ms;

    //    transform: translateY(5px);
        

}

   